# Assignment 1: Part B

## Intro to Pandas
For the next set of questions, you will be using census data from the [United States Census Bureau](https://www2.census.gov/programs-surveys/popest/datasets/2010-2017/). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2017. A copy of the data description document `co-est2017-alldata.pdf` has been provided in the A1 `data` folder.  We strongly recommend that you review this file before starting the assignment.

Code to load the census data file (`co-est2017-alldata.csv`) into a DataFrame, `census_df`, has been provided below.

In [27]:
import pandas as pd

In [28]:
census_df = pd.read_csv('data/co-est2017-alldata.csv', encoding='latin1')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
0,40,3,6,1,0,Alabama,Alabama,4779736,4780135,4785579,...,-0.317205,-0.404473,0.788882,0.450741,0.939393,1.364296,0.694271,0.678575,0.558931,1.708218
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54750,...,-1.950739,4.831269,1.047102,5.911832,-6.102101,-4.050282,2.099325,-1.659040,5.103709,1.317904
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183110,...,17.047872,20.493601,22.383175,16.285940,17.196786,22.615285,20.380904,17.903749,21.317244,23.163873
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27332,...,-16.222436,-18.755525,-19.042395,0.256021,-6.822433,-8.018920,-5.549762,-16.411069,-18.947692,-19.159940
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22872,...,0.931388,-1.416117,-0.882983,-5.041980,-4.096646,-5.890038,1.243450,1.818424,-0.531044,0.000000

### b0: (example)
What are the REGION and DIVISION for the first state in `census_df` ?

*This function should return a Tuple with two values (REGION, DIVISION).*

>NOTE: You should write your whole answer within the function provided. For grading purposes the value returned by each question's function will be compared against the expected answer.

In [29]:
def b0():
    state_df = census_df[census_df['SUMLEV'] == 40]
    return (state_df.iloc[0]['REGION'], state_df.iloc[0]['DIVISION'])

In [30]:
def test_b0():
    region, division = b0()
    if (region, division) == (3,6):
        return True
    return False

test_b0()

True

### Setup Analysis DataFrame 
 
Before we start our data analysis we want to do some initial processing on the raw data.  

Copy `census_df` into a new DataFrame `co_df`. Update `co_df` to meet the following requirements:

- remove *State and/or Statistical Equivalent data*
- remove `STATE`, `SUMLEV`, and `COUNTY` columns
- rename  `STNAME` column to `STATE`
- rename  `CTYNAME` column to `COUNTY`
- replace the index values for Region and Division with their corresponding string values<sup>1</sup>

**IMPORTANT:** Write your code to update `co_df` in the code cell below - outside of the `b1()` function - to avoid aliasing problems.


(<sup>1</sup>see the data information sheet: co-est2017-alldata.pdf)

In [64]:
## YOUR CODE to modify co_df HERE (outside of functions)
co_df=census_df.copy()
co_df=co_df[co_df.SUMLEV!= 40]
co_df=co_df.drop(columns = ["STATE","SUMLEV","COUNTY"]) #Deleting STATE,SUMLEV AND COUNTY FROM THE DATABSE
co_df=co_df.rename(columns={'STNAME':'STATE','CTYNAME':'COUNTY'})  # RENAME TO STATE AND COUNTY
co_df=co_df.replace({'REGION':{1: 'North east', 2: 'Midwest', 3: 'South', 4: 'West'}}) # REPLACING INDEX VALUES WITH THE STRING VALUES
co_df=co_df.replace({'DIVISION':{1: 'New England', 2: 'Middle Atlantic'
                                 , 3: 'East North Central', 4: 'West North Central'
                                 , 5:'South Atlantic', 6: 'East South Central'
                                ,7: 'West South Central',8: 'Mountain', 9: 'Pacific'}})
co_df.head(5)

,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
1,South,East South Central,Alabama,Autauga County,54571,54571,54750,55199,54927,54695,...,-1.950739,4.831269,1.047102,5.911832,-6.102101,-4.050282,2.099325,-1.659040,5.103709,1.317904
2,South,East South Central,Alabama,Baldwin County,182265,182265,183110,186534,190048,194736,...,17.047872,20.493601,22.383175,16.285940,17.196786,22.615285,20.380904,17.903749,21.317244,23.163873
3,South,East South Central,Alabama,Barbour County,27457,27457,27332,27351,27175,26947,...,-16.222436,-18.755525,-19.042395,0.256021,-6.822433,-8.018920,-5.549762,-16.411069,-18.947692,-19.159940
4,South,East South Central,Alabama,Bibb County,22915,22919,22872,22745,22658,22503,...,0.931388,-1.416117,-0.882983,-5.041980,-4.096646,-5.890038,1.243450,1.818424,-0.531044,0.000000
5,South,East South Central,Alabama,Blount County,57322,57324,57381,57562,57595,57623,...,-1.563369,-1.736835,6.212416,0.243599,-1.354672,-0.486035,-1.771310,-0.538494,-0.659997,7.285313

### b1: [6 marks]
Test for correct setup, function should return the tuple below:
```python
(['District of Columbia'],
 ['East South Central',
  'Pacific',
  'Mountain',
  'West South Central',
  'New England',
  'South Atlantic',
  'East North Central',
  'West North Central',
  'Middle Atlantic'],
 ['South', 'West', 'Northeast', 'Midwest'])
```

In [37]:
def b1():
    """ function runs verification tests on the co_df dataframe setup.  
        Output should be compared to expected values for confirmation.
    
    returns: tuple of three lists.  
        list 1: confirms State and/or Statistical Equivalent data removed
        list 2: confirms division numbers replaced by names
        list 3: confirms region numbers replaced by names    
    """
    state = co_df.loc[co_df.STATE == co_df.COUNTY]['STATE']
    div = co_df['DIVISION'].unique()
    region = co_df['REGION'].unique()
    return (list(state), list(div), list(region))

In [33]:
b1()

(['District of Columbia'],
 ['East South Central',
  'Pacific',
  'Mountain',
  'West South Central',
  'New England',
  'South Atlantic',
  'East North Central',
  'West North Central',
  'Middle Atlantic'],
 ['South', 'West', 'North east', 'Midwest'])

### b2: [8 marks]
Which states and counties in the New England or Middle Atlantic divisions, with a county name that starts with 'P', had a higher net migration in 2016 than 2017. <br>*Return a data frame with columns for state and county.*

In [62]:
def b2():
    #Creating new data frame
    a = co_df[co_df.DIVISION=='New England']
    b = co_df[co_df.DIVISION=='Middle Atlantic']  
    result = [a,b]
    # Concatinating two data frames
    final_result = pd.concat(result) 
    final_result['MID'] = final_result['STATE'].str.contains('P')  # checking the state name starting with P 
    final_result['STARTS'] = final_result['COUNTY'].str.contains('P')  # checking the county name starting with P

    final_result['ENDS'] = (final_result['RNETMIG2016']>=final_result['RNETMIG2017']) #Comparing net migration 
    final = final_result[['COUNTY','STATE']][final_result.STARTS==True][final_result.MID==True][final_result.ENDS==True] #merging both the dataframes 
    return(final)

In [63]:
b2()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

             COUNTY         STATE
2335  Potter County  Pennsylvania

### b3: [6 marks]
Which five counties in the United States had the highest birth rates from 1 July 2016 to 30 June 2017?  <br>*Return a 5 x 2 data frame with columns for county and birth rates, sorted in descending order.*

In [38]:
def b3():
    br = pd.DataFrame()
    br['COUNTY'] = co_df['COUNTY']
    br['BIRTH RATE'] = co_df['RBIRTH2017']   
    
    return (br.nlargest(5,'BIRTH RATE')) # FINDING THE HIGHEST BIRTH RATES AND DISPLAYING IN DESCENDING ORDER

In [39]:
b3()

                    COUNTY  BIRTH RATE
935           Geary County   29.451370
83    Kusilvak Census Area   28.478885
596         Madison County   28.028028
2971          Fairfax city   27.460145
2463           Todd County   26.582027

### b4: [6 marks]
How many unique county names are located in the West region, Mountain division?  <br>*This function should return an integer.*

In [40]:
def b4():
    #creating new data frame by checking and inserting region as West and division as Mountain
    un = co_df[co_df.REGION=='West']
    un = co_df[co_df.DIVISION=='Mountain']
    # Finding the unique county names using nunique function
    unique = un['COUNTY'].nunique()
    return unique

In [41]:
b4()

239

### b5: [6 marks]
What are the four most common county names across all states? <br>*This function should return a series object with county names and their frequency, i.e. Dupage County  24*

In [42]:
def b5():
    cn = co_df['COUNTY'].value_counts() #count function used for counting county names
    return(cn[:5])

In [43]:
b5()

Washington County    30
Jefferson County     25
Franklin County      24
Jackson County       23
Lincoln County       23
Name: COUNTY, dtype: int64

### b6: [8 marks]
Which three states had the highest **total** net international migration from 1 July 2013 through to 30 **June** <em>(updated)</em> 2017? <br>*This function should return a series object with state names and their total net international migration over the four year period.*

In [65]:
def b6():
    ht = pd.DataFrame()
    ht['STATE'] = co_df['STATE'].unique()
     # finding the sum of four years for net international migrations
    co_df['SUM'] = co_df[['RINTERNATIONALMIG2014','RINTERNATIONALMIG2015','RINTERNATIONALMIG2016','RINTERNATIONALMIG2017']].sum(axis=1)
    # finding the three states with highest international migrations   
    for j in range (len(ht['STATE'])):
        ht.loc[[j],'TOTAL'] = co_df.loc[co_df['STATE'] == ht['STATE'][j] ,'SUM'].sum() 
    return(ht.nlargest(3,'TOTAL'))

In [66]:
b6()

       STATE        TOTAL
43     Texas  1996.489515
46  Virginia   957.460813
9    Florida   734.338677